In [1]:
# report which features were selected by RFE

from sklearn.datasets import make_classification
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier

In [4]:
import pandas as pd

In [6]:
%pwd

'C:\\Users\\user\\Downloads\\2021-K-Digital-Training-main (4)\\2021-K-Digital-Training-main\\Python\\pandas'

In [9]:
path = 'C:\\Users\\user\\Downloads\\2021-K-Digital-Training-main (4)\\2021-K-Digital-Training-main\\Big_Data_Analysis\\feature_selection\\credit_cards_dataset.csv'

In [11]:
data=pd.read_csv(path)

In [12]:
data = data.rename(columns={'default payment next month': 'DEFAULT_NEXT_MONTH'})

In [13]:
y='default.payment.next.month'
X = [name for name in data.columns if name not in [y, 'ID', 'Y_Value']]
print('y =', y)
print('X =', X)

y = default.payment.next.month
X = ['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']

In [14]:
X=data[X]

In [15]:
X

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0
1,120000.0,2,2,2,26,-1,2,0,0,0,...,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0
2,90000.0,2,2,2,34,0,0,0,0,0,...,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0
3,50000.0,2,2,1,37,0,0,0,0,0,...,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,1,3,1,39,0,0,0,0,0,...,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0
29996,150000.0,1,3,2,43,-1,-1,-1,-1,0,...,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0
29997,30000.0,1,2,2,37,4,3,2,-1,0,...,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0
29998,80000.0,1,3,1,41,1,-1,0,0,0,...,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0
29999,50000.0,1,2,1,46,0,0,0,0,0,...,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0

In [16]:
y=data['default.payment.next.month']

In [17]:
y

0        1
1        1
2        0
3        0
4        0
        ..
29995    0
29996    0
29997    1
29998    1
29999    1
Name: default.payment.next.month, Length: 30000, dtype: int64

In [18]:
# define dataset
#X, y = make_classification(n_samples=1000, n_features=23, n_informative=5, n_redundant=5,random_state=42)

In [19]:
X.shape

(30000, 23)

In [20]:
y.shape

(30000,)

In [21]:
y.ndim

1

In [22]:
# define RFE
rfe = RFE(estimator=DecisionTreeClassifier(), n_features_to_select=10)

In [23]:
rfe

RFE(estimator=DecisionTreeClassifier(), n_features_to_select=10)

In [24]:
# fit RFE
rfe.fit(X, y)

RFE(estimator=DecisionTreeClassifier(), n_features_to_select=10)

In [25]:
X.shape

(30000, 23)

In [26]:
# summarize all features
for i in range(X.shape[1]):
  print('Column: %d, Selected=%s, Rank: %d' % (i, rfe.support_[i], rfe.ranking_[i]))

Column: 0, Selected=True, Rank: 1
Column: 1, Selected=False, Rank: 11
Column: 2, Selected=False, Rank: 8
Column: 3, Selected=False, Rank: 12
Column: 4, Selected=True, Rank: 1
Column: 5, Selected=True, Rank: 1
Column: 6, Selected=False, Rank: 7
Column: 7, Selected=False, Rank: 10
Column: 8, Selected=False, Rank: 14
Column: 9, Selected=False, Rank: 13
Column: 10, Selected=False, Rank: 9
Column: 11, Selected=True, Rank: 1
Column: 12, Selected=True, Rank: 1
Column: 13, Selected=False, Rank: 6
Column: 14, Selected=True, Rank: 1
Column: 15, Selected=False, Rank: 5
Column: 16, Selected=True, Rank: 1
Column: 17, Selected=False, Rank: 3
Column: 18, Selected=True, Rank: 1
Column: 19, Selected=False, Rank: 4
Column: 20, Selected=False, Rank: 2
Column: 21, Selected=True, Rank: 1
Column: 22, Selected=True, Rank: 1